div.top_content {
    width: 100%;
    height: 37%;
}

div.top_content table{
    width: 40%;
    height: 75%;
    margin-top:1%;
    margin-left: 1%;

}
div.top_content div.table_title{
    width: 40%;
    height: 10%;
    margin-top:1%;
    margin-left: 1%;


}

div.top_content div.table_title{
    font-size: 16px;
    text-align: center;
    font-family: Courier;
}

div.top_content div.line_only{
    width: 40%;
    height:3%;
    background-color: #203b5b;
    margin-left: 1%;
    margin-top:1%;
}

div.dropbox select{
    width: 60%;
    background-color: #203b5b;
    border-radius: 3px;
    padding:6px;
    color: white;
    font-size: 10px;
}

input.accountManagement{
    width: 70%;
}

td.accountManagement_title
{
    width: 26%;
    font-size: 14px;
}

div.dropbox_show {
    width: 70%;
    font-size: 10px;
    margin-left: 1%;
}

div.dropbox_show select{
    background-color: #203b5b;
    color: white;
    padding:5px;
    border-radius: 3px;

}
/* =========== Center Content =========== */

div.center_option {
    width: 100%;
    height: 4%;
}

div.center_option button {
    width: 100px;
    height: 80%;
    margin-left: 10px;
    background-color: #203b5b;
}

div.center_option button a{
    text-decoration: none;
    color: white;

}

div.center_option button:hover{
    background-color: #fdbe01;

}

/* =========== Bottom Content =========== */
div.bottom_content {
    width: 100%;
    height: 56%;
    overflow-y: auto;
}

div.bottom_content table {
    width: 100%;
}




/* =========== Update Account Page =========== */
div.top_content_updateFunc{
    width: 70%;
    height: 50%;
    margin-left: 2%;
    margin-top: 4%;
}

div.top_content_updateFunc table {
    width: 40%;
    height: 40%;
}
