<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Category</title>
    <link rel="stylesheet" href="/css/normal_layout.css" type="text/css">
    <link rel="stylesheet" href="/css/admin_layout.css" type="text/css">

</head>
<body>
    <div class="container">
        {{> headerManager}}

        <!-- Content -->
        <div class="main_Content">
            <div class="top_content">
                <div class="table_title">
                    <h2>Add new Category</h2>
                </div>

                <table>
                    <form  action="../manager/doAddCategory" method="post">
                        <tr>
                            <td class="accountManagement_title">Name : </td>
                            <td><input type="text" class="accountManagement" name="txtNewCate"> </td> 
                        </tr>
                            
                        <tr>
                            <td></td>
                            <td><input type="submit" value="Insert" class="insertButton"></td>
                        </tr>
                        <td style="width:40%; font-size:12px; color: rgb(32, 193, 59); ">{{implementSuccess}}</td>
                    </form>
                </table>

                <div class="line_only"></div>
            </div>

            <div class="bottom_content">

            </div>
        </div>

        <!-- (End) Content -->

        {{> footer}}
    </div>


</body>
</html>