<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static Dashboard</title>
    <link rel="stylesheet" href="/css/normal_layout.css" type="text/css">
    <link rel="stylesheet" href="/css/admin_layout.css" type="text/css">

</head>
<body>
    <div class="container">
        {{> headerManager}}

        <!-- Content -->
        <div class="main_Content">
            




            
        </div>

        <!-- (End) Content -->

        {{> footer}}
    </div>


</body>
</html>