<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static Dashboard</title>
    <link rel="stylesheet" href="/css/normal_layout.css" type="text/css">
    <link rel="stylesheet" href="/css/admin_layout.css" type="text/css">

</head>
<body>
    <div class="container">
        {{> headerManager}}

        <!-- Content -->
        <div class="main_Content">
            <div class="topViewPopular">
                <div class="dropbox_show">
                        <form  action="../manager/ChooseYearStatic" method="post">
                            <select name="txtSelectedViewType" onchange="this.form.submit()">
                                <option value="">Select</option>

                                <option value="LatestIdeas">2019</option>

                                <option value="LatestComments">2020</option>

                                <option value="MostLikeAndDislike">2021</option>

                                <option value="MostViewed">2022</option>

                            </select>
                        </form>
                </div>
            </div>

            <div class="bottomViewPopular">
                <span>Count Academy: {{countA}}</span>
                <span>Count Support: {{countS}}</span>
            </div>




            
        </div>

        <!-- (End) Content -->

        {{> footer}}
    </div>


</body>
</html>