    <!-- Header -->
    <div class="leftSideHeader">
        <div class="greeting ">
            <img src="/image/collective.png" style="width:45% ; height:70%;"/>

            <h1> Idea Collections System </h1>
        </div>
        
        <div class="left_navigation_bar ">    
                <nav>
                        <ul>
                            
                            <li>
                                <a href="../admin">Home </a>
                            </li>              

                            <li>
                                <a href="../admin/accountManagement">Account Management </a>
                            </li>    
                            <li>
                                <a href="../admin/accountManagementTEST">Account Management TEST</a>
                            </li>   

                            <li>
                                <a href="../admin/postIdeaManagement">Post Idea Management </a>
                            </li>  

                            <li>
                                <a href="../admin/availableUsers">Available Users</a>
                            </li>  

                            <li>
                                <a href="../admin/closureDate">Closure Date</a>
                            </li>  

                            <li>
                                <a href="../">Logout</a>
                            </li>              
                        </ul>
                </nav>
        </div>
    </div>


    <!-- (End) Header -->