    <!-- Header -->
    <div class="leftSideHeader">
        <div class="greeting ">
            <img src="/image/collective.png" style="width:45% ; height:70%;"/>

            <h1> Idea Collections System </h1>
        </div>
        
        <div class="left_navigation_bar ">    
                <nav>
                        <ul>
                            
                            <li>
                                <a href="../staff">Home </a>
                            </li>              

                            <li>
                                <a href="../staff/submit">Submit File</a>
                            </li>    
                            <li>
                                <a href="../staff/allFileSubmit">All File Submit</a>
                            </li>
                            <li>
                                <a href="../">Logout</a>
                            </li>              
                        </ul>
                </nav>
        </div>
    </div>


    <!-- (End) Header -->