<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Category</title>
    <link rel="stylesheet" href="/css/normal_layout.css" type="text/css">
    <link rel="stylesheet" href="/css/admin_layout.css" type="text/css">
 
</head>
<body>
    <div class="container">
        {{> headerStaff}}

        <!-- Content -->
        <div class="main_Content">
            <div class="top_content">
                <div class="table_title">
                    <h2>File Submit</h2>
                </div>

                <table>
                    <form  action="../staff/doAddFile" method="post">
                        <tr>
                            <label class="accountManagement_title" for="myFile">Select a file:</label>
                            <input type="file" id="myFile" ><br><br>

                            <button  onclick="LoadFile()">    
                            <a id="downFile" href="" target="_blank" download> downFile</a>
                            </button>
                            <script type="text/javascript">
                                
                                function LoadFile() {
                                    var name = document.getElementById('myFile'); 
                                    var button = document.getElementById('downFile'); 
                                    button.innerHTML = name.files.item(0).name;                        
                                    button.href =  "/COMP1640_GROUP2_COURSEWORK/uploads/" + name.files.item(0).name;                                             
                                }              
                            </script>
                        </tr>
                        <tr>
                            <td class="accountManagement_title">Topic : </td>
                            <td><input type="text" class="accountManagement" name="txtNewTopic"> </td> 
                        </tr>
                        <tr>
                            <td class="accountManagement_title">Description : </td>
                            <td><input type="text" class="accountManagement" name="txtNewDes"></td>
                        </tr>
                        <tr>                                            
                            <td class="accountManagement_title">Email : </td>

                        </tr>
                        <tr>
                            <td class="accountManagement_title">Likers : </td>
                            <td ><input type="text" class="accountManagement" name="arrLiker"></td>
                        </tr> 
                                                <tr>
                            <td class="accountManagement_title">DisLikers : </td>

                            <td ><input type="text" class="accountManagement" name="arrDisLiker"></td>
                        </tr>
                        <tr>
                            <td class="accountManagement_title">Category : </td>
                            <td>
                                <select name="txtNameCategory">
                                    <option>Select Category</option>
                                    {{#each viewCategory}}
                                        <option value="{{name}}">{{name}}</option>
                                    {{/each}}
                                </select>
                            </td> 
                        </tr>
                        <tr>
                            <td class="accountManagement_title">User : </td>

                            <td name = "txtUserName"> {{getUser.name}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" value="Submit" class="insertButton"></td>
                        </tr>
                    </form>
                </table>


                <div class="line_only"></div>
            </div>

            <div class="bottom_content">

            </div>
        </div>

        <!-- (End) Content -->

        {{> footer}}
    </div>


</body>
</html>