<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normal_layout.css" type="text/css">
    <link rel="stylesheet" href="/css/admin_layout.css" type="text/css">
    <title>Submit File</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
    <script>  
        $(document).ready(function () {
            $('#uploadForm').submit(function (event) {
                event.preventDefault();
                $("#status").empty().text("File is uploading...");

                $(this).ajaxSubmit({

                    error: function (xhr) {
                        status('Error: ' + xhr.status);
                    },

                    success: function (response) {
                        console.log(response)
                        $("#status").empty().text(response);
                    }
                });
                
            });
        });  
    </script>
</head>
<body>
        <div class="container">
        {{> headerStaff}}

        <!-- Content -->
        <div class="main_Content">
            <div class="top_content">
                <div class="table_title">
                    <h2>Submit new File</h2>
                </div>

                <table>
<<<<<<< HEAD
                    <form id="uploadForm" enctype="multipart/form-data" action="/staff/upload" method="post">
=======
                    <form id="uploadForm" enctype="multipart/form-data" action="/upload" method="post" onsubmit="if(document.getElementById('agree').checked) { return true; }
                            else { alert('Please indicate that you have read and agree to the Terms and Conditions and Privacy Policy'); return false; }">
>>>>>>> 9732d439962361f84b1540b8bccaeca0b6ef5367
                        <input type="file" name="myfile" />
                        <br/>
                        <br/>
                            <input type="checkbox" name="checkbox" value="check" id="agree" /> I have read and agree to the Terms and Conditions and Privacy Policy
                            <br/>
                            <br/>
                            <input type="submit" value="Submit" name="submit">
                        <br/>
                        <br/>
                        <span id="status"></span>
                    </form>
                </table>

                <div class="line_only"></div>
            </div>

            <div class="bottom_content">

            </div>
        </div>

        <!-- (End) Content -->

        {{> footer}}
    </div>
</body>
</html>